<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Gyms</h1>
        <div class="col-6 offset-3">
            <form action="/spotters/<%= spotters._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class='form-label' for="title">Title</label>
                    <input class='form-control' type="text" id="title" name="spotter[title]"
                        value="<%= spotters.title %>">
                </div>
                <div class="mb-3">
                    <label class='form-label' for="location">Location</label>
                    <input class='form-control' type="text" id="location" name="spotter[location]"
                        value="<%= spotters.location %>">
                </div>
                <div class="mb-3">
                    <label class='form-label' for="image">Image URL</label>
                    <input class='form-control' type="text" id="image" name="spotter[image]"
                        value="<%= spotters.image %>">
                </div>
                <div class="mb-3">
                    <label class='form-label' for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Amount"
                            name="spotter[price]" value="<%= spotters.price %>">
                    </div>
                </div>

                <div class="mb-3">
                    <label class='form-label' for="description">description</label>
                    <textarea class='form-control' type="text" id="description"><%= spotters.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Edit Gym</button>
                </div>
            </form>
            <a href="/spotters/<%= spotters._id %>">Back to all gyms</a>
        </div>
    </div>