<% layout('layouts/boilerplate') %>
    <div id="map" style="width: 100%; height: 500px"></div>
    <h1>Gym Spots</h1>
    <div>
        <a href="/spotters/new">Add GymSpot</a>
    </div>
    <% for (let spots of spotters) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class=" img-fluid" alt="" src="<%= spots.image[0].url %>">
                </div>
                <div class=" col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= spots.title %>
                        </h5>
                        <p class="card-text">
                            <%= spots.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= spots.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/spotters/<%= spots._id  %>">View <%= spots.title %></a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>

        <%- "<script>" %>
            const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
            const spotters = {
            type: "FeatureCollection",
            features: <%- JSON.stringify(
                spotters.map(spotters => ({
                type: "Feature",
                geometry: spotters.geometry,
                properties: { popUpMarkup: spotters?.properties?.popUpMarkup }
                }))
            ) %>
            };
        <%- "</script>" %>

<script src="/javascripts/clusterMap.js"></script>