<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= spotters.image %>  %>" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= spotters.title %>
                    </h5>
                    <p class="card-text">
                        <%= spotters.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= spotters.location %>
                    </li>
                    <li class="list-group-item">$<%= spotters.price %>/month(including fees)</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="/spotters/<%= spotters._id %>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/spotters/<%= spotters._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer">
                    20 days ago
                </div>
            </div>
            <h2>Leave a Review</h2>
            <form action="/spotters/<%= spotters._id  %>/reviews" method="POST" class="mb-3">
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>