<% layout('layouts/boilerplate') %>
    <h1>
        <%= spotters.title %>
    </h1>
    <h2>
        <%= spotters.location %>
    </h2>
    <img src="<%= spotters.image %>  %>" alt="">
    <p>
        <%= spotters.description %>
    </p>
    <p>
    <form action="/spotters/<%= spotters._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/spotters/<%= spotters._id %>/edit">Edit</a>
        <a href="/spotters">All Gym Spots</a>
    </footer>